/* CSS FILE */
/* DATA BARANG */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #e3e3e3;
}

/* SIDEBAR */
.sidebar {
  width: 200px;
  height: 100vh;
  background: #f7f7f7;
  border-right: 1px solid #b8b8b8;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 10px;
}
.sidebar-header {
  padding: 10px;
  text-align: center;
}
.menu-icon {
  font-size: 22px;
  cursor: pointer;
}
.brand {
  padding-left: 20px;
  margin-top: 10px;
  font-weight: bold;
}
.menu-item {
  padding: 12px 20px;
  cursor: pointer;
}
.menu-item:hover,
.menu-item.active {
  background: #d7d7d7;
}
.submenu {
  margin-left: 30px;
  font-size: 14px;
}
.submenu div {
  padding: 5px 0;
}

/* HEADER */
.header {
  margin-left: 200px;
  height: 70px;
  background: white;
  border-bottom: 1px solid #b8b8b8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.profile {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

/* CONTENT */
.content {
  margin-left: 200px;
  padding: 20px;
}
.breadcrumb {
  font-size: 14px;
  margin-bottom: 10px;
}
.title {
  margin-top: 0;
}
.btn {
  padding: 8px 18px;
  background: #ddd;
  border: 1px solid #555;
  cursor: pointer;
  margin-bottom: 10px;
}

/* TABLE */
.table-container {
  width: 80%;
  background: white;
  border: 1px solid #777;
  overflow-y: scroll;
  max-height: 450px;
 

}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}
th, td {
  border: 1px solid #777;
  padding: 8px;
  text-align: center;
}

.aksi-btn {
  width: 28px;
  height: 28px;
  border: 1px solid #444;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  cursor: pointer;
  background: #eee;
}
.submenu-item {
  padding: 6px 10px;
  cursor: pointer;
}

.submenu-item:hover {
  background: #dcdcdc;
}

/* SET TAMBAH */ 

